* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 23%, 92%);
  font-family: 'manrope';
}

.main-container {
  display: flex;
  padding: 5rem;
  margin-top: 4rem;
  width: 100%
}

.drawers {
  width: 40vw;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: white;
}

h1 {
  margin-bottom: 1rem;
  font-size: 42px;
}

p {
  margin-bottom: 2rem;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-date {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-text {
  margin-left: 1rem;
  margin-top: 2rem;
}

.contact-container img {
  border-radius: 50%;
  width: 4rem;
}

.share {
  width: 10px;
  background-color: hsl(212, 23%, 92%);
  padding: 1rem;
  border-radius: 50%;
}

.main-text {
  font-size: 20px;
}